.wrapper {}

.title-wrapper {
  padding-bottom: 24px;
  border-bottom: 1px solid #d8d8d8;
}

.title {
  font-size: 23px;
}

.tags {
  margin-top: 16px;
}

.tag {
  margin-right: 8px;
  display: inline-block;
}

.info-wrapper {
  margin-top: 24px;
}

.date {
  margin-top: 8px;

  &::before {
    content: "にちじ:";
    display: inline-block;
    width: 64px;
    margin-right: 8px;
  }
}

.content {
  margin-top: 32px;
}
