.wrapper {}

.title-wrapper {
  padding-bottom: 24px;
  border-bottom: 1px solid #d8d8d8;
}

.title {
  font-size: 23px;
}

.tags {
  margin-top: 16px;
}

.tag {
  margin-right: 8px;
  display: inline-block;
}

.content {
  margin-top: 32px;
}
