.wrapper {
  padding: 24px 0;
  border-bottom: 1px solid #d9d9d9;
}

.title {
  font-size: 20px;
  color: #333333;
  border-color: #333333;
}

.content-wrapper {
  margin-top: 24px;
}

.date {
  margin-top: 8px;

  &::before {
    content: "にちじ:";
    display: inline-block;
    width: 64px;
    margin-right: 8px;
  }
}

.tags {
  margin-top: 8px;

  &::before {
    content: "tag:";
    display: inline-block;
    width: 64px;
    margin-right: 8px;
  }
}

.tag {
  margin-right: 8px;
  display: inline-block;
}
