.wrapper {
  padding: 24px 16px;
  border-bottom: 1px solid #d9d9d9;
}

.title {
  font-weight: bold;
  font-size: 20px;
  color: #333333;
}

.content-wrapper {
  margin-top: 24px;
}

.content {
  display: flex;
  align-items: center;
}

.date {
  margin-top: 8px;
}
